*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#boards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 80%;
}

.board{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 70%;
    border-radius: 30px;
    padding: 15px;
    margin: 5px;
    gap: 20px;
}

.board h2{
    color: white;
}

#toDo{
    background-color:rgb(255, 59, 59) ;
}

#inProgress{
    background-color: rgb(250, 107, 54)
}
#completed{
    background-color: rgba(0, 189, 0, 0.648);
}

#all{
    background-color: rgba(0, 110, 236, 0.644);
}

.contList{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

.contList li{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    font-size: 1rem;
}

.checkBox[type="checkbox"] {
  margin-right: 15px;

}

.checkBox {
  transform: scale(2);

}







